backups
crash-reports
defaultconfigs
downloads
ldlib
local
logs
modernfix
resourcepacks
saves
schematics
screenshots
shaderpacks
.curseclient
.qmenu_opened.marker
minecraftinstance.json
options.txt
rhino.local.properties
usercache.json
usernamecache.json
.vscode